# Backend
# MONGO_URL=mongodb+srv://audumbarmore43_db_user:Y9haRdOSUH2JNMms@cluster0.b1rhjeb.mongodb.net/rent-a-ride
# PORT=3000
# NODE_ENV=development
# ACCESS_TOKEN=replace_me_access_secret
# REFRESH_TOKEN=replace_me_refresh_secret
# CLOUD_NAME=replace_me
# API_KEY=replace_me
# API_SECRET=replace_me
# RAZORPAY_KEY_ID=replace_me
# RAZORPAY_SECRET=replace_me
# EMAIL_HOST=replace_me
# EMAIL_PASSWORD=replace_me
# CLIENT_URL=http://localhost:5173
